.summaryContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.preAnim {
    opacity: 0;
    transform: translate(100%, 0%);
}

.summary {
    white-space: pre-wrap;
}


@media (prefers-reduced-motion) {
    .preAnim {
        opacity: 1;
        transform: none;
    }
}

.embolden {
    color: var(--text-link);
    background: linear-gradient(90deg, red, orange, yellow, green, #037ffc, #883de3);
    background-clip: text;
    -webkit-background-clip: text;
}

.links {
    color: var(--text-menuInactive);
    text-decoration: none;
}

@media (hover: hover) {
    .embolden:hover {
        color: transparent;
        transition: 500ms ease;
    }
    
    .links:hover {
        color: var(--text-link);
    }
}

/* .anim {
    animation-duration: 0.6s;
    animation-name: slideIn;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes slideInTest {
    0% {
        opacity: 0;
        transform: translate( 100%, 0%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
} */