.menuItems {
    display: flex;
    flex-direction: column;
}

.itemIndicator {
    display: flex;
    width: 34px;
    height: 1px;
    background: var(--text-menuInactive);
    transition: width 0.5s linear;
    margin-right: 9px;
}

.menulink {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-menuInactive);
    justify-content: flex-start;
}

.menulinkActive {
    color: var(--text-link) !important;
}

.menulinkActive .icon {
    opacity: 1 !important;
}

.menulinkActive .itemIndicator {
    width: 58px !important;
    background: var(--text-link) !important;
}

.linkName {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}

.icon {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.line {
    border-bottom: 2px solid hsla(var(--safeLightAccent-hsl), 1);
}

.preAnim {
    opacity: 0;
    transform: translate(0%, 40%);
}

@media (prefers-reduced-motion) {
    .preAnim {
        opacity: 1;
        transform: none;
    }

    .menulinkActive .itemIndicator {
        width: 34px !important;
    }

    .menulink:hover .itemIndicator {
        width: 34px;
    }
}

@media (hover: hover) {

    .menulink:hover {
        color: var(--text-link);
        cursor: pointer;
    }
    
    .menulink:hover .itemIndicator {
        width: 58px;
        background: var(--text-link);
    }
    
    .menulink:hover .icon {
        opacity: 1;
        color: var(--text-link);
    }
}