.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageContainer {
    width: 144px;
    height: 102.4px;
    border-radius: 20px;
    overflow: clip;
    position: relative;
    border: 3px solid var(--text02);
    grid-column: 1;
    grid-row: 1;
    /* transition: transform 0.5s ease-in-out; */
}

.imageContainer:hover {
    border-color: var(--text-link);
}

.preAnim {
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.blankContainer {
    width: 144px;
    height: 102.4px;
    grid-column: 1;
    grid-row: 1;
}

@media (prefers-reduced-motion) {
    .preAnim {
        transition-property: none;
    }
}