.projectBlockContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 8px;
}

.header {
    display: flex;
    flex-direction: column;
}

.date {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-menuActive);
}

.company {
    color: var(--text02);
    text-transform: uppercase;
}

.icon {
    font-variation-settings: 'FILL' 0, 'wght' 350, 'opsz' 16;
    font-size: 24px;
    vertical-align: top;
    padding-left: 10px;
}

.link {
    color: var(--text-menuActive);
    text-decoration: none;
    max-height: 24px;
}

.link:hover {
    color: var(--text-link);
}

@media (max-width: 1024px) {
    .projectBlockContainer {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        justify-items: center;
    }
}

.preAnim {
    opacity: 0;
    transform: translate(100%, 0%);
}

@media (prefers-reduced-motion) {
    .preAnim {
        opacity: 1;
        transform: none;
    }
}
