
  
  .mainbody {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  
    /* @media (min-width: 768px) {
      overflow: hidden;
      flex-direction: row;
    } */
  }
  
  .mainpage {
    height: 100%;
    padding: 0px 1.5rem;
    flex-grow: 1;
  
    /* @media (min-width: 768px) {
      overflow-y: auto;
      padding: 0 3rem;
    } */
  }