.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
}

.mainContent {
  width: var(--full-width);
  height: 97%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mainContentContainer {
  background: var(--UI-BG1-Accent);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  height: 100%;
  padding: 4rem;
  width: 40%;
}
.content {
  height: 100%;
  padding: 4rem;
  width: 60%;
}

@media (max-width: 1024px) {
  .mainContent {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .mainContentContainer {
    height: 100%;
    background: var(--UI-BG1-Basic);
  }
  
  .menu {
    width: var(--full-width);
    padding: 1rem;
  }

  .content {
    width: var(--full-width);
    padding: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .menu {
    width: 45%;
  }

  .content {
    width: 55%;
  }
}

/* 
/* Enable hover only on non-touch devices *
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* .sidenavButton {
  z-index: 9;
  position: absolute;
  margin-top: 1rem;
  margin-left: 0.5rem;
  display: none;
}

.mainbody {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    overflow: hidden;
    flex-direction: row;
  }
}

.mainpage {
  padding: 1.5rem;
  flex-grow: 1;

  @media (min-width: 768px) {
    overflow-y: auto;
    padding: 3rem;
  }
} */
